.splash-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .splash-screen .loading-dot {
    font-size: 40px;
    margin-top: -30px;
    position: relative;
    animation: ease-in-out infinite alternate;
    animation-name: run;
    animation-duration: 1.2s;
  }

  @import url('https://fonts.googleapis.com/css?family=Montserrat');

/* html, body {
  font-family: 'Montserrat', sans-serif;
} */

.progress-bar {
  position: relative;
  height: 20px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid #333;
  background: #fff;

}

.filler {
  background: green;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}
  
  @keyframes run {
    0% {
      left: -90px;
      color: #eee;
    }
    50% {
      color: #666;
    }
    100% {
      left: 90px;
      color: #eee;
    }
  }